<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/markdown.css">
    <link rel="stylesheet" type="text/css" href="css/codes.css">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="icon" href="images/favicon.svg?v=2">
    <title> {{ title }} </title>
    {{ debug }}
</head>

<body>
    <div class="navbar">
        {{ _navbar }}
    </div>
    <div class="content">
        {{ content }}      
    </div>
    <div class="footer">
        {{ _footer }}
    </div>
</body>

</html>